<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INMSService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nms.it24cloud.com:1313/NMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INMSService"
                contract="NMS_Service.INMSService" name="BasicHttpBinding_INMSService" />
        </client>
    </system.serviceModel>
</configuration>